// .component-table {
//   margin-top: 50px;
// }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}
table {
  width: 900px;
  max-width: 90%;
}

th.mat-sort-header-sorted {
  color: black;
}
