img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

th.mat-sort-header-sorted {
  color: black;
}

.view-button {
  color: black;
}
.table-padding {
  padding-right: 25px;
}
